h1 {
    font-size: 60px;
    color: white;
    text-align: center;
    margin-top: 60px;
    font-family: Helvetica;
}

html {
    background-image: linear-gradient(to right, red, yellow);
}

#start-button {
    display: flex;
    align-items: center;
}

h2 {
    font-size: 50px;
}